/* #question{
    display: none;
} */
:root {
  --borderWidth: 7px;
  --height: 24px;
  --width: 12px;
  --borderColor: #78b13f;
}
.presentation {
  background: linear-gradient(180deg,#375899,#082c6f);
}
.form-group{
  margin-bottom: 1rem;
}