/* #question{
    display: none;
} */
:root {
  --borderWidth: 7px;
  --height: 24px;
  --width: 12px;
  --borderColor: #78b13f;
}
.navbar{
  background:linear-gradient(180deg,#375899,#082c6f);
  color:white !important;
  font-weight:italic;
}
a{
  color:white !important;
  
}
ul{
  margin-left: 80%;
  
  }
li{
  display: inline;
 
}
li a {
  display: inline;
	width: 100px;
	padding: 5px 10px;
}
.presentation{
  background: linear-gradient(180deg,#375899,#082c6f);
}
.form-group{
  margin-bottom: 1rem;
}