{% extends 'base.html.twig' %}

{% block title %}Reponses au questionnaire{% endblock %}

{% block body %}
<div class="container">
  <h1 class="text-center success">Confirmation d'envoi</h1>
  <p> Vos réponses ont été envoyées à votre formateur</p>.
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Note sur les QCM</div>
  <div class="card-body">
    <h5 class="card-title">Note sur les QCM</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>



</div>
{% endblock %} 